*{
    outline: auto;
}
.advantages{
    width: 100vw;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.col{
    background-color: gray;
    color: white;
    width:  120%;
    height: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.advantagesInfo{
    width: 60%;
    height: 40%;
    position: relative;
}
.icons{
    width: 320px;
    height: 150px;
    border-radius: 5%;
    position: absolute;
    left: 50%;
    top: -20%;
    transform: translateX(-50%);
    z-index: 2;
}
.advInfo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icons1{
    background-color: cadetblue;
    background-image: url('leka.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}
.icons2{
    background-color: cadetblue;
    background-image: url('zh.png');
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
}
.icons3{
    background-color: cadetblue;
    background-image: url('redkoe.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.icons4{
    background-color: cadetblue;
    background-image: url('redkoe.png');
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
}




.buttonBlock{
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.infoBlock{
    background-color: black;
    color: white;
    padding-left: 43%;
    padding-right: 40%;
}
.menu{
    outline: auto;
    position: relative;
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu a{
    outline: auto;
    margin-right: 40px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    transition: 0.4s;
}
.menu a:hover{
    transform: scale(1.2);
    color: red;
}
.button{
    background-color: white;
    border-radius: 10px;
    height: 50px;
    width: 100px;
}
.button:hover{
    transform: scale(1.2);
    transition: 0.5s;
}